---
import { type CollectionEntry, getCollection } from "astro:content";
import { render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await render(post);
---

<Layout>
  <div class="row">
    <!-- <div class="col-lg-3">
      <aside class="sidebar">
        <form action="page-search-results.html" method="get">
          <div class="input-group mb-3 pb-1">
            <input
              class="form-control text-1"
              placeholder="Search..."
              name="s"
              id="s"
              type="text"
            />
            <button type="submit" class="btn btn-dark text-1 p-2"
              ><i class="fas fa-search m-2"></i></button
            >
          </div>
        </form>
        <h5 class="font-weight-semi-bold pt-4">Categories</h5>
        <ul class="nav nav-list flex-column mb-5">
          <li class="nav-item"><a class="nav-link" href="#">Design (2)</a></li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Photos (4)</a>
            <ul>
              <li class="nav-item"><a class="nav-link" href="#">Animals</a></li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Business</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#">Sports</a></li>
              <li class="nav-item"><a class="nav-link" href="#">People</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="#">Videos (3)</a></li>
          <li class="nav-item">
            <a class="nav-link" href="#">Lifestyle (2)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Technology (1)</a>
          </li>
        </ul>
        <div class="tabs tabs-dark mb-4 pb-2">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a
                class="nav-link show active text-1 font-weight-bold text-uppercase"
                href="#popularPosts"
                data-bs-toggle="tab">Popular</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-1 font-weight-bold text-uppercase"
                href="#recentPosts"
                data-bs-toggle="tab">Recent</a
              >
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="popularPosts">
              <ul class="simple-post-list">
                <li>
                  <div class="post-image">
                    <div class="img-thumbnail img-thumbnail-no-borders d-block">
                      <a href="blog-post.html">
                        <img
                          src="img/blog/square/blog-11.jpg"
                          width="50"
                          height="50"
                          alt=""
                        />
                      </a>
                    </div>
                  </div>
                  <div class="post-info">
                    <a href="blog-post.html">Nullam Vitae Nibh Un Odiosters</a>
                    <div class="post-meta">Nov 10, 2025</div>
                  </div>
                </li>
                <li>
                  <div class="post-image">
                    <div class="img-thumbnail img-thumbnail-no-borders d-block">
                      <a href="blog-post.html">
                        <img
                          src="img/blog/square/blog-24.jpg"
                          width="50"
                          height="50"
                          alt=""
                        />
                      </a>
                    </div>
                  </div>
                  <div class="post-info">
                    <a href="blog-post.html">Vitae Nibh Un Odiosters</a>
                    <div class="post-meta">Nov 10, 2025</div>
                  </div>
                </li>
                <li>
                  <div class="post-image">
                    <div class="img-thumbnail img-thumbnail-no-borders d-block">
                      <a href="blog-post.html">
                        <img
                          src="img/blog/square/blog-42.jpg"
                          width="50"
                          height="50"
                          alt=""
                        />
                      </a>
                    </div>
                  </div>
                  <div class="post-info">
                    <a href="blog-post.html">Odiosters Nullam Vitae</a>
                    <div class="post-meta">Nov 10, 2025</div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="tab-pane" id="recentPosts">
              <ul class="simple-post-list">
                <li>
                  <div class="post-image">
                    <div class="img-thumbnail img-thumbnail-no-borders d-block">
                      <a href="blog-post.html">
                        <img
                          src="img/blog/square/blog-24.jpg"
                          width="50"
                          height="50"
                          alt=""
                        />
                      </a>
                    </div>
                  </div>
                  <div class="post-info">
                    <a href="blog-post.html">Vitae Nibh Un Odiosters</a>
                    <div class="post-meta">Nov 10, 2025</div>
                  </div>
                </li>
                <li>
                  <div class="post-image">
                    <div class="img-thumbnail img-thumbnail-no-borders d-block">
                      <a href="blog-post.html">
                        <img
                          src="img/blog/square/blog-42.jpg"
                          width="50"
                          height="50"
                          alt=""
                        />
                      </a>
                    </div>
                  </div>
                  <div class="post-info">
                    <a href="blog-post.html">Odiosters Nullam Vitae</a>
                    <div class="post-meta">Nov 10, 2025</div>
                  </div>
                </li>
                <li>
                  <div class="post-image">
                    <div class="img-thumbnail img-thumbnail-no-borders d-block">
                      <a href="blog-post.html">
                        <img
                          src="img/blog/square/blog-11.jpg"
                          width="50"
                          height="50"
                          alt=""
                        />
                      </a>
                    </div>
                  </div>
                  <div class="post-info">
                    <a href="blog-post.html">Nullam Vitae Nibh Un Odiosters</a>
                    <div class="post-meta">Nov 10, 2025</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <h5 class="font-weight-semi-bold pt-4">About Us</h5>
        <p>
          Nulla nunc dui, tristique in semper vel, congue sed ligula. Nam dolor
          ligula, faucibus id sodales in, auctor fringilla libero. Nulla nunc
          dui, tristique in semper vel. Nam dolor ligula, faucibus id sodales
          in, auctor fringilla libero.
        </p>
        <h5 class="font-weight-semi-bold pt-4 mb-2">Tags</h5>
        <div class="mb-3 pb-1">
          <a href="#"
            ><span
              class="badge badge-dark badge-sm rounded-pill text-uppercase px-2 py-1 me-1"
              >design</span
            ></a
          >
          <a href="#"
            ><span
              class="badge badge-dark badge-sm rounded-pill text-uppercase px-2 py-1 me-1"
              >brands</span
            ></a
          >
          <a href="#"
            ><span
              class="badge badge-dark badge-sm rounded-pill text-uppercase px-2 py-1 me-1"
              >video</span
            ></a
          >
          <a href="#"
            ><span
              class="badge badge-dark badge-sm rounded-pill text-uppercase px-2 py-1 me-1"
              >business</span
            ></a
          >
          <a href="#"
            ><span
              class="badge badge-dark badge-sm rounded-pill text-uppercase px-2 py-1 me-1"
              >travel</span
            ></a
          >
        </div>
        <h5 class="font-weight-semi-bold pt-4">Find us on Facebook</h5>
        <div
          class="fb-page"
          data-href="https://www.facebook.com/OklerThemes/"
          data-small-header="true"
          data-adapt-container-width="true"
          data-hide-cover="true"
          data-show-facepile="true"
        >
          <blockquote
            cite="https://www.facebook.com/OklerThemes/"
            class="fb-xfbml-parse-ignore"
          >
            <a href="https://www.facebook.com/OklerThemes/">Okler Themes</a>
          </blockquote>
        </div>
      </aside>
    </div> -->
    <div class="col-lg-12">
      <div class="blog-posts single-post">
        <article class="post post-large blog-single-post border-0 m-0 p-0">
          <div class="post-date ms-0">
            <span class="day">10</span>
            <span class="month">Jan</span>
          </div>

          <div class="post-content ms-0">
            <h2 class="font-weight-semi-bold">
              {post.data.title}
            </h2>

            <div class="post-meta">
              &nbsp;
              <!-- <span
                ><i class="far fa-user"></i> By <a href="#">John Doe</a>
              </span>
              <span
                ><i class="far fa-folder"></i>
                <a href="#">Lifestyle</a>, <a href="#">Design</a>
              </span>
              <span
                ><i class="far fa-comments"></i>
                <a href="#">12 Comments</a></span
              > -->
            </div>

            <Content />

            <div class="post-block mt-5 post-share">
              <h4 class="mb-3">Share this Post</h4>

              <!-- Go to www.addtoany.com to customize -->
              <!-- AddToAny BEGIN -->
              <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                <a class="a2a_button_facebook"></a>
                <a class="a2a_button_x"></a>
                <a class="a2a_button_copy_link"></a>
              </div>
              <script async src="https://static.addtoany.com/menu/page.js"
              ></script>
              <!-- AddToAny END -->
            </div>

            <!-- <div class="post-block mt-4 pt-2 post-author">
              <h4 class="mb-3">Author</h4>
              <div class="img-thumbnail img-thumbnail-no-borders d-block pb-3">
                <a href="blog-post.html">
                  <img src="img/avatars/avatar.jpg" alt="" />
                </a>
              </div>
              <p>
                <strong class="name"
                  ><a href="#" class="text-4 pb-2 pt-2 d-block">John Doe</a
                  ></strong
                >
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                viverra euismod odio, gravida pellentesque urna varius vitae.
                Sed dui lorem, adipiscing in adipiscing et, interdum nec metus.
                Mauris ultricies, justo eu convallis placerat, felis enim ornare
                nisi, vitae mattis nulla ante id dui.
              </p>
            </div> -->
          </div>
        </article>
      </div>
    </div>
  </div>
</Layout>
