---
import Layout from "../layouts/Layout.astro";
import * as dotenv from "dotenv";
import { httpClient, api } from "../lib/convex";

// const dogs = [
//   {
//     name: "Astro",
//     gender: "Male",
//   },
//   {
//     name: "Pikachu",
//     gender: "Male",
//   },
//   {
//     name: "Charizard",
//   },
// ];

// const res = await fetch("https://jsonplaceholder.typicode.com/posts");
// const data = await res.json();
// console.log(data);

const dogs = await httpClient.query(api.dogs.list);
---

<Layout>
  <Fragment slot="header">Dogs for Adoption</Fragment>

  <div class="row">
    <div class="col-lg-3 order-2 order-lg-1">
      <aside class="sidebar">
        <form action="dogs-for-adoption" method="get">
          <div class="row g-3">
            <div class="col-12">
              <label class="form-label mb-1 text-2"><b>Name</b></label>
              <input
                type="text"
                value=""
                data-msg-required="Please enter your name."
                maxlength="50"
                class="form-control text-3 h-auto py-2"
                name="name"
              />
            </div>

            <div class="col-12">
              <label class="form-label mb-1 text-2"><b>HDB Approved</b></label>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="yes"
                  id="yes"
                />
                <label class="form-check-label" for="yes"> Yes </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="no"
                  id="no"
                />
                <label class="form-check-label" for="no"> No </label>
              </div>
            </div>

            <div class="col-12">
              <label class="form-label mb-1 text-2"><b>Gender</b></label>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="male"
                />
                <label class="form-check-label" for="male"> Male</label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="female"
                />
                <label class="form-check-label" for="female"> Female</label>
              </div>
            </div>

            <div class="col-12">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </aside>
    </div>
    <div class="col-lg-9 order-1 order-lg-2">
      <div class="masonry-loader masonry-loader-showing">
        <div
          class="row products product-thumb-info-list"
          data-plugin-masonry
          data-plugin-options="{'layoutMode': 'fitRows'}"
        >
          {
            dogs.map((x) => (
              <div class="col-sm-6 col-lg-4">
                <div class="product mb-0">
                  <div class="product-thumb-info border-0 mb-3">
                    {/* <div class="product-thumb-info-badges-wrapper">
                        <span class="badge badge-ecommerce text-bg-success">
                          NEW
                        </span>
                      </div> */}

                    {/* <div class="addtocart-btn-wrapper">
                        <a
                          href="shop-cart.html"
                          class="text-decoration-none addtocart-btn"
                          title="Add to Cart"
                        >
                          <i class="icons icon-bag" />
                        </a>
                      </div> */}

                    <a href={"dogs/" + x._id}>
                      <div class="product-thumb-info-image">
                        <img
                          alt=""
                          class="img-fluid"
                          src="img/products/product-grey-4.jpg"
                        />
                      </div>
                    </a>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div>
                      {/* <a
                          href="#"
                          class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1"
                        >
                          electronics
                        </a> */}
                      <h3 class="font-weight-medium font-alternative text-transform-none line-height-3 mb-0">
                        <a
                          href={"dogs/" + x._id}
                          class="text-color-dark text-color-hover-primary"
                        >
                          {x.name}
                        </a>
                      </h3>
                    </div>
                    {/* <a
                      href="#"
                      class="text-decoration-none text-color-default text-color-hover-dark text-4"
                    >
                      <i class="far fa-heart" />
                    </a> */}
                  </div>
                  <div title="Rated 5 out of 5">
                    <input
                      type="text"
                      class="d-none"
                      value="5"
                      title=""
                      data-plugin-star-rating
                      data-plugin-options="{'displayOnly': true, 'color': 'default', 'size':'xs'}"
                    />
                  </div>
                  <p class="text-4 mb-3">
                    {x.gender == "Male" ? (
                      <i class="fa-solid fa-mars" />
                    ) : (
                      <i class="fa-solid fa-venus" />
                    )}
                    <span>{x.gender}</span>
                    <br />
                    <i class="fa-solid fa-cake-candles" /> 11 years
                    <br />
                    <i class="fa-solid fa-house" />{" "}
                    {x.hdbApproved == "Yes"
                      ? "HDB Approved"
                      : "Not HDB Approved"}
                  </p>
                </div>
              </div>
            ))
          }
        </div>
        <!-- <div class="row mt-4">
          <div class="col">
            <ul class="pagination float-end">
              <li class="page-item">
                <a class="page-link" href="#"
                  ><i class="fas fa-angle-left"></i></a
                >
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#"
                  ><i class="fas fa-angle-right"></i></a
                >
              </li>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</Layout>
