---
import Layout from "../layouts/Layout.astro";

const welfareGroups = [
  {
    name: "Gentle Paws",
    email: "farmwaylove@gmail.com",
    website: "https://gentlepaws2010.blogspot.com/",
  },
  {
    name: "OSCAS",
    email: "enquiry@oscas.sg",
    website: "https://www.oscas.sg/",
  },
  {
    name: "Exclusively Mongrels",
    email: "enquiry@exclusivelymongrels.org",
    website: "https://www.exclusivelymongrels.org/",
  },
];
---

<Layout>
  <Fragment slot="header">Welfare Groups</Fragment>

  <div class="row">
    {
      welfareGroups.map((x) => (
        <div class="col-md-6">
          <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2">
            {x.name}
          </h2>
          <div>Email: {x.email}</div>
          <div>Website: {x.website}</div>
        </div>
      ))
    }
  </div>
</Layout>
